/*mobile*/
@media screen and (max-width:500px) {
    body{
        font-family:arial;
        margin:auto;
        padding:10px;
    }

    .alert-info{
        background-color:#CCFFFF;
        border:2px solid #CCC;
        text-align:center;
        width:(100% - 20px);
        margin:auto;
        padding:20px;

    }
    .alert-info a {
        text-decoration:none;
        color:black;

    }

    h1 {
        padding:5px;
        text-align:center;
        margin:auto;
    }
    ul {
        padding:0;
    }
    li{
        background-color:#CCC;
        list-style:none;
        width: calc(100% -20px);
        text-align:center;
        margin:10px 0;
        padding:20px;
    }
    img{
        height:224px;
        width:339px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    section{
        font-family:Arial;

    }
    section.sub-section{
        font-style:Italic;

    }
    footer{
        display:inline-block;
        width:100%;
    }
    footer>p{
        float:left;
    }
    footer>div{
        float:right;
    }
    .social>img{
        width:40px;
        height:25px;
        display:inline-block;
    }
}


/*desktop*/

